extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .error= message
      //- Intentionally left out to serve from angular
      //- each location in locations
        .card
          .card-block
            h4
              a(href=`/locations/${location.id}`)= location.name
              small &nbsp;
                +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
            p.address= location.address
            p
            .facillities
              each facility in location.facilities
                span.badge.badge-warning= facility
                | &nbsp;
      //- Serving page from angular
      app-home-list
    .col-xs-12.col-sm-4
      p.lead= sidebar
